# dependencies
fullstack-test/welink-test-frontend/node_modules
fullstack-test/welink-test-frontend/.pnp
fullstack-test/welink-test-frontend/.pnp.js
# testing
fullstack-test/welink-test-frontend/coverage
# production
fullstack-test/welink-test-frontend//build
# misc
fullstack-test/welink-test-frontend/.DS_Store
fullstack-test/welink-test-frontend/.env
fullstack-test/welink-test-frontend/npm-debug.log*

# Ignore bundler config.
fullstack-test/welink-test-backend/.bundle
# Ignore all logfiles and tempfiles.
fullstack-test/welink-test-backend/log/*
fullstack-test/welink-test-backend/tmp/*
fullstack-test/welink-test-backend!/log/.keep
fullstack-test/welink-test-backend!/tmp/.keep
# Ignore uploaded files in development.
fullstack-test/welink-test-backend.byebug_history
# Ignore master key for decrypting credentials and more.
fullstack-test/welink-test-backend/config/master.key
